
<div class="footwrapper">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 about">
                    <h3>About Me</h3>
                <p>this is my first path leading to the real time web app developer in IT sector.Ive used HTML,CSS,JS,Bootstrap,Nodemailer,bodyparser</p>
                </div>
                <div class="col-md-5" style="margin-right: -20px;">
                        <div class="hidden-md hidden-lg">
                                <hr class="style-footer">
                            </div>
                        <h3>Contact us</h3>
                        <dl>
                          <dt>Address:</dt>
                          <dd>Kalpudur, Mettukulam,Katpadi - Chittoor Road,</dd>
                          <dd>Vellore, 632059.</dd>
                        </dl>
                        <dl>
                                <dt>Email:</dt>
                                <dd class="footercontact">ragavkutti777@gmail.com</a></dd>
                              </dl>
                              <dl>
                                <dt>Phone:</dt>
                                <dd><span class="footercontact">+91 1123456789</span> or <span class="footercontact">+91 9012345678</span>
                                </dd>
                              </dl>
                </div>
                <div class="col-md-2">
                        <div class="hidden-md hidden-lg">
                                <hr class="style-footer">
                            </div>
                        <h3>Links</h3>
                </div>
        
                    <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#founder">Founder's Note</a></li>
                            <li><a href="/image_gallery">Image Gallery</a></li>
                            <li><a href="/#volunteerdrive">Volunteer</a></li>
                            <li><a href="/#contactdrive">Contact</a></li>
                            
                          </ul>
       
        </div>
        <div class="hidden-md hidden-lg">
                                <hr class="style-footer">
                            </div>
        <div class="text-center">
                <p style="margin-bottom:0;">Copyright © 2019<a href="/"> orphangeservice.com</a></p>
                <p><em>Designed By <span class="footercontact"> Ragavan Ravi</span></em></p>
              </div>
    </div>
</div>

<script src="/stylesheets/js/css3-animate-it.js"></script>
<script src="/stylesheets/js/nav_scroll.js"></script>
<script>
$('.dropdown-toggle').click(function(){
  $(this).next(".dropdown-menu").toggle();
});
</script>
<script>
$(document).click(function(){
  $("#dropdown-menu").hide();
});

</script>

</body>
</html>