<!DOCTYPE html>
<html>
    <head>
        <title>Orphange center</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/css/main.css">
        <link rel="stylesheet" href="/stylesheets/css/animations.css">
        <link rel="stylesheet" href="/stylesheets/css/lightbox.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,700|Oswald:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/stylesheets/js/lightbox.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-database.js"></script>
<script>
 var firebaseConfig = {
            apiKey: "AIzaSyCEDyE7xL6BtTBTbXue-_TRWMwQju52KWs",
            authDomain: "vvvlifecarehome.firebaseapp.com",
            databaseURL: "https://vvvlifecarehome.firebaseio.com",
            projectId: "vvvlifecarehome",
            storageBucket: "",
            messagingSenderId: "751680810989",
            appId: "1:751680810989:web:9298a9515f55e939da41e4"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          var today = new Date();
    var dd = String(today.getDate());
    var mm = String(today.getMonth() + 1); //January is 0!
    var yyyy = today.getFullYear();
    currenttime = dd + '-' + mm + '-' + yyyy;
    
          var messageRef=firebase.database().ref(currenttime);
          </script>
    <script type="text/javascript" src="/stylesheets/js/formval.js"></script>


    </head>
    <body>
            <nav class="navbar navbar-expand-md navbar-default navbar-fixed-top" id="myScrollspy">
                    <a class="navbar-brand" href="/"><i class="fa fa-book" aria-hidden="true"></i><span> SARAVANA</span> </a>
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                           
                        </div>
                        <div id="navbar" class="navbar-collapse collapse pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="/">HOME</a></li>
                                <li class="dropdown ">
                                        <a href="" class="dropdown-toggle dropdownbtn" data-toggle="dropdown" data-target="dropdown_target">GALLERY
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdowncolor">
                                                <li><a href="/image_gallery"><strong>IMAGES</strong></a></li>
                                                <li class="divider"></li>
                                                <li><a href="/achievements"><strong>ACHIEVEMENTS</strong></a></li>
                                                <li class="divider"></li>
                                                <li><a href="/news"><strong>NEWS & UPDATES</strong></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/#founder"><strong>FOUNDERS NOTE</strong></a></li>
                                
                                <li class="dropdown ">
                                    <a href="#" class="dropdown-toggle dropdownbtn" data-toggle="dropdown" data-target="dropdown_target">SUPPORT THE CAUSE
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu  dropdowncolor ">
                                            <li><a href="/#volunteerdrive"><strong>VOLUNTEERS</strong></a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#sponsordrive"><strong>SPONSORS & DONATION</strong></a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#goodsdrive"><strong>DONATE GOODS</strong></a></li>
                                    </ul>
                                </li>
                                <li><a href="/#contactdrive">CONTACT US</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>	
                <!-- //Close Fixed Nav -->	
                
   


        






