<section class="videocss">
        <div class="container animatedParent" data-sequence='1000'data-appear-top-offset='-100'>
                <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 img-responsive animated fadeInUp slow" data-id='1'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/09Wb1NDcItY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 editcontent-video animated bounceInUp img-responsive" data-id='2'>
                        <h2>EVERY PERSON DESERVES A LIFE</h2> 
                        <p> FILLED WITH LOVE,LAUGHTER, FRIENDS AND FAMILY</p>    
                        <br>
                        <p><i> Since 2019, The Saravana Home has responded to the needs of children
                                 and families in crisis in Vellore and the surrounding communities. While
                                 the needs and programs have changed, one thing remains the same, The Saravana Ho
                                 me prepares children for success in life.</i></p>  
        </div>
</div>
</div>
</section>