<section class="foundersnote edit" id="founder">
        <div class="container animatedParent" data-appear-top-offset='-500' data-sequence='700'>
                        <h2><strong>WHO ARE WE</strong></h2>
                               <h6>Founder's note</h6>
                               <div class="row ">
                                <div class="col-md-6 col-sm-12 col-xs-12 animated fadeInUp" data-id='1'>       
                                        <p>I, Kasthuri Paulraj - a graduate from CMCH - Vellore, with State First Rank... got a job in the USA about 13 years ago, yet chose to stay back and serve the children in need when 2 needy children were brought to us, to be cared as their parent were sick and dying. A humble journey of caring for the 2 needy kids became 100s over a period of time. 
                                               I consider this to be a honour to care for the children who lack parental love, care and protection. There’s no joy parallel when 60+ children call me, AMMA (Mom) at our Karunalaya Children Home, which is a Home and Hope for children in need and wherein they experience the joy of a family and care of a parent.                                                 
                                               Our hearts faints every time, just like yours, when we happen to hear about the abandonment of a new born baby, because of some social imbalance in the society. In order to help women to put an end to such painful act of the abandonment of babies, our SONRise Life Centre provides Counselling,dren in need to have their lives be transformed through care, support and education. Secondly, this journey of serving the needy has been a possibility all these 15 years, because of the generous giving of many of our friends and well wishers, both inland and abroad. We do acknowledge every one of them for their Trust in us and being part of our journey of Giving Hope to the Hopeless irrespective of colour, creed and caste.                        
                                               Certainly, it is our desire to extend our service to care for more children and assist them with their basic needs and education, young people with necessary life skill training, women with needed counselling and guidance and infants with a needed care by a loving parents. Through selfless service seeking to contribute to a peaceful community that builds a prospering country... 
                                               With Sincere Thanks </p>
                               </div>
                               <div class="col-md-6 col-sm-12 col-xs-12 animated fadeInUp" data-id='2'>
                                       <img class="img-responsive" src="https://images.unsplash.com/photo-1532996078953-a13fa6d622cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80" alt="no preview available">
                               </div>
                       </div>
                       <br>
                       <div class="col-md-12 animated fadeInUp " data-id='3'>
                               <p>Like yours, when we happen to hear about the abandonment of a new born baby, because of some social imbalance in the society. In order to help women to put an end to such painful act of the abandonment of babies, our SONRise Life Centre provides Counselling, Care and Support that the mothers might have every courage to care for the baby and consider life against every odd. There are many success stories of saving lives and securing joy at homes of many.                                                                                     
                                               The ability in me to care for any one in need has been a possibility because of two reasons. Primarily, I was cared and supported since 5 years of my age and was given the best education by Rev.David Kirupakaran and his German Friends, while my parents were unable. Some one’s sacrificial giving had transformed my life then and now, it is my turn to help Children in need to have their lives be transformed through care, support and education. Secondly, this journey of serving the needy has been a possibility all these 15 years, because of the generous giving of many of our friends and well wishers, both inland and abroad. We do acknowledge every one of them for their Trust in us and being part of our journey of Giving Hope to the Hopeless irrespective of colour, creed and caste.                        
                                               Certainly, it is our desire to extend our service to c  </p>
                       </div>
               </div>
              
       </section>