<section class="gallery edit " id="gal">
                
        <div class="container animatedParent" data-sequence="500" data-appear-top-offset='-200'>
                        <h2><strong>GALLERY</strong></h2>
                        <h6>Hall of Media</h6>
                <div class="row">
                        <div class="col-md-4  col-sm-4 col-xs-6 galleryalign animated bounceInUp" data-id="1">
                                        <h3>Images</h3>
                                        <img class="img-responsive refactorimage" src="https://images.unsplash.com/photo-1565984556409-b0d4946ce2d4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="no preview">                                       
                                        <div class="button-align">
                <a href="/image_gallery" class="btn btn-lg btn-info" style="box-shadow: 1px 1px 8px rgb(33, 33, 33);">view more >></a></div>
            
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 galleryalign animated bounceInUp slow" data-id="2">
                                        
                                        <h3>ACHIEVEMENTS</h3>
                                        <img class="img-responsive refactorimage" src="https://images.unsplash.com/photo-1452697620382-f6543ead73b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="no preview">                                       
                                        <div class="button-align">
                                                <a href="/achievements" class="btn btn-lg btn-info" style="box-shadow: 1px 1px 8px rgb(33, 33, 33);">view more >></a></div>
                         </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 galleryalign animated bounceInUp slow" data-id="3">
                                        <h3>NEWS & UPDATES</h3>
                                        <img class="img-responsive refactorimage" src="https://images.unsplash.com/photo-1546422904-90eab23c3d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" alt="no preview">                                       
                                        <div class="button-align">
                                                <a href="/news" class="btn btn-lg btn-info" style="box-shadow: 1px 1px 8px rgb(33, 33, 33);">view more >></a></div>
                </div>
                </div>
        </div>
</section>