<section class="donation edit animatedParent" data-sequence="750" data-appear-top-offset='-200' id="goodsdrive">
        <div class="container">
                        <h2><strong>DONATE GOODS</strong></h2>
                        <h6></h6>
                        <div class="row">
                          <div class="col-md-7 animated fadeInLeft slow" data-id="1">
                                  <p class="goods-highlight">A really great way to help us out is to donate goods to our orphanage (goods in kind). This can be done by collecting together clothes 
                                          (new or second hand), books, toys, pencils… etc. and then bundle them up in a parcel and send them out to us.Sometimes this can be a little expensive for people so perhaps you could try 
                                          getting together with a group of friends or colleagues.</p>
                                          <p>Over the years we have received plenty of different things in the post, 
                                          from the ordinary (shoes, watches, clothes) to the extraordinary (a box of honey, coffee plungers, hot water bottles). </p>
                                <p> <h3><strong>Address</h3>
                                                 Kalpudur, Mettukulam,<br> Katpadi - Chittoor Road,<br> Vellore, 632059.<br></strong>

                                </p>
                          </div>   
                          <div class="col-md-5 animated fadeInRight slower" data-id="2">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.9966318821876!2d79.15737321482199!3d12.97206699085562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad479f0ccbe067%3A0xfef222e5f36ecdeb!2sVellore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1567599973604!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                          </div>   
                        </div>

        </div>
</section>