<%include ./partials/header%>
<!-- carousel--------------------------------------------------- -->
                <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                  <li data-target="#myCarousel" data-slide-to="1"></li>
                                  <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                            
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                  <div class="item active">
                                    <img src="https://hellocaremail.com.au/wp-content/uploads/2016/04/old-man-lonely.jpg" alt="Los Angeles" style="width:100%;">
                                  </div>
                            
                                  <div class="item">
                                    <img src="https://blogs.imf.org/wp-content/uploads/2017/08/BLOG-1024x600-JAPANBLOG-woman-counting-money-Issei-Kato-Newscom-rtrlsix171935.jpg" alt="Chicago" style="width:100%;">
                                  </div>
                                
                                  <div class="item">
                                    <img src="https://images.wallpaperscraft.com/image/mountain_peak_man_147493_1024x600.jpg" alt="New york" style="width:100%;">
                                  </div>
                                </div>
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                             
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                             
                                </a>
                </div>
<!-- founder note--------------------------------------------------- -->
<%include ./foundernote%> 
<!-- video for awareness -->
<%include ./awarness%> 
<!-- gallery view=================================================================== -->
<%include ./gallery%>
<!-- quote ----------------------------------------->
<%include ./quotes%>
<!-- -----------------------------------------------------------------------join us -->
<%include ./joinus_main%>
<!-- volunteer-------------------------------------------------------------------------- -->
<%include ./volunteer%>
<!--donate goods-------------------------------------------------------------------- -->
<%include ./goodsdonate%>
<!-- sponsorship and financial donations----------------------------------------------------------------- -->
<section class="sponsor edit" id="sponsordrive">
        <div class="container">
        <h2><strong>SPONSOR PORTAL</strong></h2>
        <h6>Make a difference!! Save lives</h6>
        <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-8 resizepay">
                  <h3><em style="text-decoration: underline;">  Google Pay </em></h3>
                                <p><h4><strong>Indian Donors (Individuals and Corporate)</strong></h4></p>
                                <p>Saravana has accounts with ICICI AND Axis Banks. </p>
                                <p>A/C No: 1234567890,</p> 
                                <p>dubakur BANK, Vellore Branch, </p>
                                <p>Ragav street, Vellore 632006, India.</p>
                                <p>Send money to number:9876543201</p>
                                <p>IFSC CODE: ICIC123456</p>
                </div>
               
                <div class="col-md-6 col-sm-4 col-xs-4">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Google_Wallet_logo.svg/768px-Google_Wallet_logo.svg.png" alt="">
                    
                </div>
        </div>
</div>
       
                    
        

</section>
<!-- contact and map------------------------------------------------------------ -->
<%include ./contactform%>
<%include ./partials/footer%>