<%include ./partials/header%>
    <div class=" image_gallery container animatedParent">
        <div class="row">
            <div class="jumbotron">
    <h1 class="animated wiggle">Image Gallery</h1>
    <p>Because Every Photo has a story to tell</p>
</div>

    <div class='img_gallery animated fadeInUp col-md-12 col-sm-12'>
        
        <a href="https://images.unsplash.com/photo-1567623047423-eebe1e011f70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567623047423-eebe1e011f70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567758611957-73e666678347?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567758611957-73e666678347?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567615882365-88ef29b532c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=808&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567615882365-88ef29b532c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=808&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567616152645-4fba0ac70515?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567616152645-4fba0ac70515?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567615542575-5c38a8f79e2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=814&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567615542575-5c38a8f79e2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=814&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567748997510-db5e824b9f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567748997510-db5e824b9f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567615215729-8504cded1ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=993&q=80" data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567615215729-8504cded1ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=993&q=80" alt="no preview"></a>
        <a href="https://images.unsplash.com/photo-1567705925383-37978e4b3c18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=669&q=80" 
        data-lightbox="gallerymax"><img src="https://images.unsplash.com/photo-1567705925383-37978e4b3c18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=669&q=80" alt="no preview"></a>
     
</div>
</div>

</div>

<section style="height: 500px;"></section>
<%include ./partials/footer%>