<section class="join-us edit">
        <div class="container animatedParent" data-sequence="500" data-appear-top-offset='-200'>
                        <h2><strong>JOIN US</strong></h2>
                        <h6>Support The Cause</h6>
                <div class="row">
                        <div class="col-md-7 col-sm-12 animated fadeInLeft slow" data-id="1">
                                <div class="quote-us">
                                <em style="padding-left:20px">“The best way to find yourself is to lose yourself in the service of others.”</em>
                                <br><br>
                                <strong id="teller"> — Mahatma Gandhi</strong>
                                <br>
                                </div>
                                <p class="involve-join">We invite and encourage individuals, friends, families and corporate to join us in this noble
                                        work of serving the fellow human being in need in possible ways listed below and even more...
                                <ol>
                                        <li>Become a Friend of organisation – to receive updates and get involved in the projects...</li>
                                        <li>Become a Supporter with your seasonal or regular giving towards various needs / projects.</li>
                                        <li>Become a Donor, by donating anything of your choice on a seasonal basis or on a regular basis.</li>
                                        <li>Become a Well Wishers, by introducing our projects and programs to others and get them involved in these programs.</li>
                                        <li>To show the world that everyone, regardless of their needs, deserves to experience love and to be treated with dignity and care.</li>
                                </ol></p>
                        
                                      
                        </div>
                        <div class="col-md-5 col-sm-12 animated fadeInRight slower text-center" data-id="2">
                                <img src="https://images.unsplash.com/photo-1523294928042-18ecb3df7fb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="No preview available">
                        </div>

                </div>

        </div>

</section>