<%include ./partials/header%>
    <div class=" image_gallery container animatedParent">
        <div class="row">
            <div class="jumbotron news">
    <h1 class="animated wiggle">News & Updates</h1>
   
</div>

    <div class='img_gallery animated fadeInUp col-md-12 col-sm-12'>
            <div class="col-md-10 animated growIn slow" data-id="1">
                <div class="text-center">      
                <i class="fa fa-ban" style="padding-top:10%; font-size: 100px;color:red;" aria-hidden="true"></i>
                <h4>Please try again later</h4>
        </div> 
                    <!-- <p class="involve-join">We invite and encourage individuals, friends, families and corporate to join us in this noble
                            work of serving the fellow human being in need in possible ways listed below and even more...
                    <ol>
                            
                            <li>Become a Friend of organisation – to receive updates and get involved in the projects...</li>
                            <li>Become a Supporter with your seasonal or regular giving towards various needs / projects.</li>
                            <li>Become a Donor, by donating anything of your choice on a seasonal basis or on a regular basis.</li>
                            <li>Become a Well Wishers, by introducing our projects and programs to others and get them involved in these programs.</li>
                            <li>To show the world that everyone, regardless of their needs, deserves to experience love and to be treated with dignity and care.</li>
                    </ol></p> -->
            
                          
            </div>
       
     
</div>
</div>

</div>

<section style="height: 500px;"></section>
<%include ./partials/footer%>