<section class="quotes ">
        <div class="row animatedParent" data-sequence="500" data-appear-top-offset='-200'>
                <div class="col-md-6 col-sm-12 col-xs-12  remove-padding-right animated fadeInLeft slow" data-id="1">
                          <div id="carousel-example-generic" class="carousel slide" data-interval="3000">
                                          <!-- Indicators -->
                                          <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                           
                                          </ol>
                                        
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner" style=" width:100%; height: 500px !important;">
                                            <div class="item active itemalign">
                                                    <img src="https://www.serudsindia.org/wp-content/uploads/2018/07/3.png" alt="Teresa quote">
                                            </div>
                                            <div class="item itemalign">
                                                    <img src="https://www.serudsindia.org/wp-content/uploads/2018/07/1.png" alt="Longfellow quote">
                                            </div>
                                            <div class="item itemalign">
                                            <img src="https://www.serudsindia.org/wp-content/uploads/2018/07/7.png" alt="Hilton quote">
                                          </div>
                                          </div>
                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          </a>
                                        </div>
                  
                </div>
                <div class="col-md-6  col-sm-12 col-xs-12 remove-padding-left rightside animated fadeInRight slower" data-id="2">
                        <img src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="none">
                </div>
        </div>
</section>