    <section class="volunteer edit" id="volunteerdrive">
                <div class="container animatedParent" data-sequence="550" data-appear-top-offset='-100'>
                        <h2><strong>VOLUNTEER</strong></h2>
                        <h6>The Charity Worker || UNSUNG HEROES</h6>
                        <div class="row ">
                                <div class="col-md-6 col-sm-8 col-xs-8 remove-padding-right remove-padding-left animated fadeInUp" data-id="1">                                     
                                                 <h2 class="pullleft">Get to Know!!</h2>
                                        <p>More and more these days people are looking for ways to volunteer in India, there is something about this country that has an appeal for those who are wanting to do good in the world.
                                                        There is a huge multitude of ways that visitors and volunteers can help out here on our orphanage. Occasionally things go so well that volunteers end up returning time and time again… some even end up joining us on staff.
                                                        </p>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-4 remove-padding-right remove-padding-left animated fadeInUp" data-id="2">
                                        <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="No preview available">
                                </div>
                        </div>
                        <div class="row">
                                        <div class="col-md-6 col-sm-4 col-xs-4 remove-padding-right remove-padding-left animated fadeInUp slower" data-id="3">
                                                <img src="https://images.unsplash.com/photo-1556413084-41a81ea2ade7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="No preview available">
                                        </div>
                                        <div class="col-md-6 col-sm-8 col-xs-8  remove-padding-right remove-padding-left animated fadeInUp slower" data-id="4">
                                                        <h2 class="pullright">volunteer Work</h2>
                                                        <p>Generally we like to find out from a volunteer what area of ‘work’ might interest them the most. That said, we are not always able to provide the exact job that a volunteer might want to do. 
                                                                We want your time with us to be productive, beneficial and enjoyable for everyone.Volunteer work can be things like:</p>
                                                        <ul>
                                                                <li>Helping out on the farm/workshop</li>
                                                                <li>Cooking or cleaning</li>
                                                                <li>Painting & construction</li>
                                                        </ul>
                                        </div>
                         </div>
                         <div class="row">
                                   <div class="col-md-6 col-sm-8 col-xs-8  remove-padding-right remove-padding-left animated fadeInUp slower" data-id="5">
                                           <h2 class="pullleft">Extra Activites</h2>
                                        <p>From time to time visitors want to run or assist in special projects. Some volunteers even choose to fund raise for specific projects before coming out to the Mission.
                                                        It is very important that these projects be discussed with/approved by a member of our Board first. </p>
                                        <div class="text-center">
                                        <a href="/#contactdrive" class="btn btn-lg btn-success">Enroll as a Volunteer >></a>
                                         </div>
                                   </div>
                                   <div class="col-md-6 col-sm-4 col-xs-4 remove-padding-right remove-padding-left animated fadeInUp slower" data-id="6">
                                           <img src="https://images.unsplash.com/photo-1522600579804-c66aa476298e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" alt="No preview available">
                                   </div>
                         </div>
                        </div> 
        </section>