/*------------html,body contents---------------*/
html,body{
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;	
}
body{
padding-top:91px;
font-size: 1.5rem;
font-family: 'Source Sans Pro', sans-serif;
overflow-x: hidden;
}
.scroll-top {
   width:5rem;
    position: fixed;
    color: #337ab7;
    right: 2%;
    bottom: 30px;
    border-radius: 100%;
    font-size: 3rem;
    text-align: center;
    border: 2px solid #337ab7;
    display: none;
	z-index: 10;
}
.scroll-top:hover{
	background: #337ab7;
	color:white;
	cursor: pointer;
}

.DonateBtn{
	position: fixed;
	left:1%;
	bottom: 30px;
	z-index: 10;
	outline: none;
	padding:7px;
	border:0;
	background: #fc6256;
	border-radius: 15%;
	color: white;
	text-align: center;
	font-size:2rem;
	text-decoration: none !important;

}
.DonateBtn:hover{
outline: none !important;
border-radius:25% 100% 100% 25%;
font-size:2rem;
border:1px solid #eb3a05;
box-shadow:0px 3px 5px #eb3a05;
color:#eb3a05;
background:white;
transition: 0.5s ease-in-out;

}
/*---------------------------------navigation bars------------------------*/
.navbar {
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	border-bottom: none;
	padding: 20px 0;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	font-size: 1.5rem;
	
}
.navbar i{
	font-size: 2.5rem;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #183532;
}
.dropdowncolor{
	background: #ECE9E6;  /* fallback for old browsers */

}
.navbar-scroll .dropdowncolor{
	background: black;
}
.dropdown-menu li>a {
	background:#ECE9E6;
	color:black;
	border-radius: 10px;
	}
.navbar-scroll .dropdown-menu li>a {
		background:black;
		color:white;
		}
.dropdown-menu li>a:hover {
color:#f09800;
background: #ECE9E6;
border-radius: 10px;
}

.navbar li.dropdown.open {
    background: #ECE9E6;
}
.navbar-scroll li.dropdown.open {
    background: black;
}

.navbar-scroll .navbar-default .navbar-nav>.open>a, .navbar-scroll .dropdown-menu li>a:hover, .navbar-scroll .navbar-nav>.open>a:focus {
	color:#f09800;
	background:black;
}

.navbar-scroll button.navbar-toggle.collapsed:hover,
.navbar-scroll button.navbar-toggle:hover,
.navbar-scroll button.navbar-toggle:focus,
.navbar-scroll button.navbar-toggle.collapsed:focus{
	background: #000000;
}
/* jQuery Styles
===================================*/
.navbar-scroll {
	background:black;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
	padding: 0;
}
.nav-dropdown-scroll {
	background: #ECE9E6;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar-default.navbar-scroll .navbar-brand{
color:white;
}

.navbar-default.navbar-scroll .navbar-nav>li>a{
	color:white;
	}


.navbar-default .navbar-nav>li>a:hover{
	color:#f09800;
	border-radius: 5px;
}
.navbar-default .navbar-brand:hover{
	margin-left:15px;
	transform: scale(1.1);
	border-radius: 5px;
	color:#f09800;
}
.dropdown:hover .dropdown-menu{
	display:block;
	border-radius: 5px;
}

.navbar-default .navbar-nav>.open>a:focus{
	border-radius: 10px;
}


@media only screen and (max-width:991px) {

	.dropdown-menu {
		display: none !important;
	}
	
	.open .dropdown-menu {
		display: block !important;
	}
	.navbar-collapse {
		float: left;
	  }
	.navbar li{	
		float: left;
		display: block;
		width: 100%;
		
	}
	}
	

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
	}
	.navbar li{	
		float: left;
		display: block;
		width: 100%;
		
	}
}

/*----------------------------------carousel-------------------------------*/
#myCarousel{
	height:600px;
	
}
#myCarousel img{
	height:600px;
	max-width: 100%;	
	object-fit: fill;
	object-position: left top;
}
.carousel-indicators li{
	border-radius:0;
}

/*=========================================founders note===========================================*/
.foundersnote{
	/* float: left; */
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background-color: #e7eaea
}
h6{
	position: relative;
	text-transform: uppercase;
}
.edit h2,h6{
	text-align: center;
}
.edit h6::after{
	content:"";
	background:#35CBDF;
	width:50px;
	height: 4px;
	margin:20px auto 50px;
	display: block;
}

.edit img{
	height:470px;
}
@media screen and (max-width:992px){
	.foundersnote img{
		height: 300px;
		max-width: 100%;
		margin:0 auto;
	}
}
/*-------vdo css----------------*/
.videocss{
	/* float: left; */
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background:#e7eaea;
	color:black;
}
.editcontent-video{
	font-family: 'Oswald', sans-serif;
}
.editcontent-video h2{
	font-weight: 700;
	color:green;
	margin-bottom: 0;
	
}
.editcontent-video h2::after{
	content:"";
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width:70%;
	height: 3px;
	display: block;
}

.editcontent-video p:nth-of-type(1){
	color:#cc0066;
	text-transform:lowercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
/*----------------------gallery-------*/
.gallery{
	/* float: left; */
	width:100%;
	padding:5rem 2rem;
	position: relative;
	z-index: 1;
	color:white;
	background: #0099cc;
}
/* .bgimage{
	background-image: url("https://images.unsplash.com/photo-1514195037031-83d60ed3b448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
	filter: blur(8px);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.galleryalign{
	padding:20px;
	height:320px;
	border-radius:20%;
	
}
.galleryalign:hover{
	background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	box-shadow: 1px 1px 8px black;
	transition:0.5s;
	color:black;
}

.galleryalign h3{
	text-align: center;
	font-size:13px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top:0;
	margin-top:0px;
}
.button-align{
	text-align: center;
	
}

img.img-responsive.refactorimage {
    height: 200px;
    width: 100%;
    /* object-fit: cover;
    object-position: center; */
	margin-bottom: 20px;
	border-radius:20%;
}
/*---------------------quotes-------------------*/
.quotes{
	
	padding:5rem;
	position: relative;
	z-index: 1;
	background: url("https://images.unsplash.com/photo-1508963493744-76fce69379c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes img{
	width: 100%;
	max-height: 100%;
	
}
.quotes .paddingele{
	padding-left:20%;
	padding-right:20%;
}

@media screen and (max-width:992px){
	.quotes .paddingele{
		padding-left:5%;
		padding-right:5%;
	}
	.quotes .carousel-indicators{
		opacity:0;
	}
	.quotes .carousel-control{
		opacity:0.5;
	}
	
}
/* join-us--------------------------------------------------------------------------------------------- */
.join-us{
	/* float: left; */
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background:white;
	color:black;
}
.quote-us{
	border: 1px solid 0099cc;
	border-radius: 10px;
	background:#0099cc;
	padding-top:10px;
	padding-left:70px;
	padding-bottom: 10px;
	color:white;
}
.join-us.edit #teller{
	padding-left: 420px;
}
.involve-join{
	margin-top: 20px;
	padding:5px;
	border-left:5px solid #0099cc;
}
.join-us ol{
	padding-top: 20px;
}
.join-us ol li{
	padding:5px;
		
}
@media screen and (max-width:992px){
	.join-us img{
		height: auto;
		max-width: 50%;
	}
}
/* volunteer------------------------------------------------------------------------------------ */
.volunteer:before{
	content:'';
    position: absolute;
    top: -0.5%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px white;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.volunteer{
	height:auto;
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background:#f24e7f;
	color:white;
}
.volunteer p{
	padding: 2px;
	line-height:2;
	letter-spacing:1px; 
	padding:5%;
	margin-top:2%;
}
.volunteer .pullleft{
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 5%;
}
.volunteer .pullright{
	text-align: right;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 5%;
}

.volunteer.edit img{
	margin: 0 auto;
	height:auto;
	object-fit: cover;
	object-position: center;
	width:100%;
}
.volunteer ul li{
	line-height:2;
}


@media screen and (max-width: 992px){
	.volunteer.edit img{
		height: 200px;
		max-width: 100%;
		margin-top: 60%;
		padding-right: 10px;
		border-radius: 50%;
		
	}
	.secondchild{
		padding-left: 10px;
	}
}
/* goods donation----------------------------------------------------------- */
.donation:before{
	content:'';
    position: absolute;
    top: -0.5%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px #f24e7f;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.donation{
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background:#f2f7f2fd;
	color:black;
}
.donation p{
	padding: 2px;
	line-height:2;
	letter-spacing:1px; 
}
.goods-highlight{
	border-left:5px solid #049bff;
}
.mapstyling iframe{
	border:0;
	padding-left: 0%;
	padding-right: 20%;
}

@media screen and (max-width:992px){
	.mapstyling iframe{
		padding-left:20%;
		height:300px;
	}
}

.donatebutton{

	font-size: 1.6rem;
}

/* sponsor portal--------------------------------- */
.sponsor:before{
	content:'';
    position: absolute;
    top: -0.5%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px #f2f7f2fd;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.sponsor{
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background:#0099cc;
	color:white;
}
.sponsor img{
	max-width: 100%;
}
.resizepay{
	padding:2% 0 0 10%;  
	border-right:1px solid black;
}
@media screen and (max-width:992px){
	.resizepay{
		padding:0;
		padding-left:30px;		
	}
	.sponsor img{
		margin: auto 0;
		height:200px;
	}
}
/*CONTACT INFO=======================*/

.contact{
	/* float: left; */
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
	background:url("https://images.unsplash.com/photo-1500206329404-5057e0aefa48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
	color:white;
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.resizeform{
	margin:0 25%;
}
.contact textarea{
	width: 100%;
	height: 100px;
	color:black;
}
.alert{
	text-align: center;
	padding: 10px;
	background: #57b657;
	color: white;
	margin-bottom: 10px;
	display: none;
}
#contactform{
	padding:5%;
	border-radius: 8px;
}

.contact .error{
	padding-top:2%;
	padding-left: 2%;
	font-weight: 700;
	font-size: 12px;
	color:#fc4b23;
}
.contact .btncenter{
	text-align: center !important;

}
.contact button{
	display: inline-block;
	border-radius:5%;

}
.contact button:hover {
    background-color: #449d44;
	border-color: #398439;
	border-radius: 50%; 
	transition:border-radius 0.7s,background-color 0.5s; 
}
.contact button:hover .leftspan{
	margin-right:7%;
	transition: 0.7s linear;	
}
.contact button:hover .rightspan{
	margin-left:7%;
	transition: 0.7s linear;
}
.contact input:focus{
	outline: none !important;
	border:none !important;
}
.contact button:active , button:focus, .contact textarea{
	
	outline:none !important;
}

@media screen and (max-width:768px){
	.resizeform{
		margin:0 5%;
	}
}
/* image_gallery==================== */

.image_gallery{
	padding-top:91px;
}
.image_gallery .jumbotron{
	margin:15px;
	height:300px;
	color: white;
	text-transform: capitalize;
	background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.image_gallery h1{
	text-transform: uppercase;
	font-weight:700;
	font-size: 60px;
}

.image_gallery h1::after{
	content: "";
    background: white;
    width: 500px;
    height: 1px;
    
    display: block;
}
.img_gallery{
	margin:20px 80px;
}
.img_gallery img{
	margin:3px;
	width:240px;
	padding: 5px;	
	transition: 1s;
	border-radius: 20px;
	height: 240px;
	object-fit: cover;
	object-position: center;
	

}

.img_gallery img:hover{
	transform: scale(1.1);
	filter:opacity(0.5);

	
}
/* achievement --------*/
.jumbotron.achievement{
	background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* news============== */
.jumbotron.news{
	background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* footer */
.footwrapper{
	background: black;
	color: rgb(221, 217, 217);
	font-size:15px;
	
}
.footercontact:hover{
	color:#337ab7;
	text-decoration: underline;
}

hr.style-footer {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
	}
.footwrapper .about{
	padding-left:10px;
	padding-right: 20px;
}
.footwrapper h3{
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 10px;
}
.footwrapper dt,a{
	font-weight: 700;
}
.footwrapper em{
	font-size: 14px;
}

@media screen and (max-width:992px){
	.footwrapper{
		font-size: 12px;
	}
}